div#comments div#comment_form {
	border-radius: 5px;
	border: 1px solid #b6b6b6;
	box-shadow: 0 0 5px 0 #444;
	padding: 5px;

	background: #fff;
	margin: 10px auto;
}
div#comments {
	margin: 20px 250px 20px 20px;
}
div#comment_form {
	width: 700px;
	position: relative;
}
div#comments div.toTop {
	margin: 0 250px 0 0;
	padding: 10px 0;
	text-align: center;
	cursor: pointer;
	background: #fff;
	opacity: 0.5;
	font-size: 11px;
}
div#comments div.toTop:hover {
	opacity: 1;
}
.haventcom {
	font-weight: bold;
	width: 700px;
	margin: 0 auto;
}

div#comments div.search {
	text-align: right;
	margin: 10px 0;
}

div#comments div#toolbar {
	margin: 7px 0 3px 80px;
}
div#comments div#toolbar .panel {
	display: inline-block
}
div#comments div#toolbar .panel .tooltip {
	margin: 0;
	float: left;
	max-width: 30px;
	max-height: 30px;
	text-align: center;
	background: #f1f1f1;
	border: 1px solid #b6b6b6;
	border-left: none;
	display: inline-block;
	cursor: pointer;
	padding: 2px 5px;
}
div#comments div#toolbar .panel .tooltip img {
	position: relative;
	top: 3px;
}
div#comments div#toolbar .panel .tooltip:first-of-type {
	border-radius: 5px 0 0 5px;
	border-left: 1px solid #b6b6b6;
}
div#comments div#toolbar .panel .tooltip:last-of-type {
	border-radius: 0 5px 5px 0;
	border-right: 1px solid #b6b6b6;
}
div#comments div#toolbar .panel .tooltip:hover {
	background: #fff;
}


div#comments div.line {
	margin: 3px 0;
}
div#comments div.line div.label{
	width: 80px;
	display: inline-block;
	text-align: right;
	padding-right: 5px;
}
div#comments div.line div.inputs {
	display: inline-block;
}
div#comments div.caption {
	font-size: 14px;
	font-weight: bold;
	margin: 5px 0 5px 150px;
	color: #175aaa;
}

div#comments input[type="text"], div#comments input[type="email"], div#comments textarea {
	outline: none;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #b6b6b6;
}

div#comments input[type="text"], div#comments input[type="email"] {
	width: 250px;
}
div#comments textarea {
	width: 340px;
}

div#comments div.errors {
	color: #900000;
	font-size: 14px;
}

div#comments textarea {
	resize: both;
}
div#comments div.fields {
	margin: 10px 0;
}


/*div#commentslist {
	margin-right: 250px;
}*/
div#commentslist .admin_comment {
	background: #fff;
	padding: 8px;
	border-radius: 5px;
	margin: 5px 0;
	border: 1px solid #b6b6b6;
}

div#commentslist .comment {
	background: #fff;
	padding: 5px;
	border-radius: 5px;
	margin: 5px 0;
	border: 1px solid #b6b6b6;
	min-height: 105px;
}

div#commentslist .comment .title {
	color: #AB0000;
	font-weight: bold;
}
div#commentslist .comment div.avatar{
	font-size: 10px;
	color: #666;
	text-align: center;
	float: left;
}
div#commentslist .comment div.com_content{
	margin-left: 57px;
}

div#commentslist .comment span.date {
	font-size: 8pt;
	color: #666;
	font-weight: normal;
}

div#commentslist .comment .text {
	margin: 5px 0 7px 0;
}

div#commentslist .comment .answer, div#commentslist .comment .cancel, div.adm_btn {
	display: inline-block;
	padding: 1px 3px;
	border: 1px solid #0073ea;
	background: #2F91E1;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
}

div#commentslist .comment .admin_control {
	text-align: right;
}
div#commentslist .comment .admin_control img {
	cursor: pointer;
}

div#commentslist .comment .cancel {
	background: #AB0000;
	border: 1px solid #AB0000;
}

div#commentslist div.editcomment {
	text-align: right;
	font-size: 10px;
	color: #175aaa;
	cursor: pointer;
	display: inline-block;
	float: right;
}


div#commentslist div.commentquote {
	border: 1px dashed #b6b6b6;
	background: #f5f5f5;
	border-radius: 5px;
	padding: 5px;
	margin: 3px;
	font-size: 11px;
}

div#commentslist div.commentchange {
	font-size: 10px;
	color: #ccc;
	text-align: right;
	font-style: italic;
}

div#commentslist div.comment div.elements {
	float: right;
}
div#commentslist div.comment div.elements img {
	cursor: pointer;
}
div#commentslist div.comment div.elements span.rating {
	line-height: 16px;
	padding: 2px 15px;
	background: #f0f3f7;
	color: #444;
	border-radius: 5px;
	margin: 0 5px;
	font-weight: bold;
	position: relative;
	top: -4px;
}
div#commentslist div.comment div.elements  img.down {
	position: relative;
	top: 1px;
}

div#commentslist .paginator {
	margin: 20px 0 30px 0;
	text-align: center;
}
div#commentslist .paginator span.page {
	padding: 4px 8px;
	color: #fff;
	border-radius: 5px;
	font-weight: bold;
	background: #000;
	margin: 0 1px;
	cursor: pointer;
}
div#commentslist .paginator span.page:hover {
	background: #a5ccf8;
	color: #000;
}
div#commentslist .paginator span.selected {
	background: #2F91E1;
	padding: 4px 8px;
	color: #fff;
	border-radius: 5px;
	font-weight: bold;
	margin: 0 1px;
}
div#commentslist span.new {
	color: red;
	font-size: 15px;
}
.comment-books, .comment-books-additional {
	position: absolute;
	/*width: 400px;*/
	right: 10px;
	font-size: 11px;
	padding:  0px 5px 5px 5px;
	overflow: hidden;
}
.comment-books {
	top: 10px;
	max-height: 260px;
}
.comment-books-additional {
	top: 300px;
	text-align: center;
}
.comment-books-additional img {
	background: #000090;
	opacity: .3;
	-webkit-transition: opacity ease .2s;
	-moz-transition: opacity ease .2s;
	-o-transition: opacity ease .2s;
	transition: opacity ease .2s;
}
.comment-books-additional img:hover {
	opacity: 1;
}
.comment-books-additional a:not(:first-of-type) {
	margin-left: 5px;
}
.cbooks-picture img {
	position: relative;
	top: -3px;
	background: red;
}
.cbooks-picture {
	float: right;
	margin-left: 5px;
}
.cbooks-buy {
	text-align: center;
	margin-top: 5px;
}